body {
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  text-transform: capitalize;
  font-size: 26px;
  font-weight: bold;
  line-height: 28px;

  padding: 12px;
}
ul {
  margin: 0 0 0 10px;
  padding: 0;
}

li {
  font-size: 18px;
  font-weight: 150px;
  line-height: 1.2;
  list-style: none;
}

a {
  text-decoration: none;
}
a :hover {
  color: black;
}

small {
  position: relative;
  text-align: center;
  display: block;
  margin: 0 auto;
}

hr {
  border: 3px solid;
}

/* .container { 
  text-align: center;
  display: block;
  margin: 0 auto;
}*/

.body {
  position: fixed;
  margin-top: -150px;
}
.weather {
  position: relative;
  padding: 10px;
  margin: 30px auto 5px auto;
  display: block;

  max-width: max-content;
  height: max-content;
  border-radius: 20px;
  background: linear-gradient(
    135deg,
    rgb(82, 229, 231) 10%,
    rgb(21, 14, 200) 100%
  );

  box-shadow: 10px 10px 15px rgba(0, 0, 0, 20%);
}

#searchButton {
  border-radius: 20px;
  border: 1px #87c8f8 solid;
  background-color: #cae2f3;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
  transition: all 200ms ease-in-out;
}

#searchButton:hover {
  /* opacity: 0.9; */
  cursor: pointer;
  /* transform: scale(1.1); */
  border: 1px rgb(118, 221, 255) solid;
  background-color: rgb(133, 222, 251);
}

.temperature {
  font-size: 26px;
  font-weight: bold;
  line-height: 1;
  margin: 0 0 20px 10px;
}

.units {
  position: relative;
  top: -63px;
  left: 43px;
}

.units .active {
  color: black;
  cursor: default;
}

.min {
  opacity: 0.5;
}

.weather-icon {
  width: 85px;
  margin: 0 0 0 50px;
}

.weather-situation {
  text-transform: capitalize;
  font-size: 23px;
  font-weight: bold;
  line-height: 1;
  margin: 0 0 0 50px;
}
.searching {
  margin: 10px 4px 10px 4px;
  border: none;
}
#searching-location {
  color: black;
  padding: 7px;
  margin-bottom: 10px;
  border-radius: 20px;
  border: 1px #87c8f8 solid;
  background-color: #cae2f3;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
  transition: all 200ms ease-in-out;
}

#forecast-hourly {
  text-align: center;
  margin: 10px 4px 0 0;
}

#forecast-daily {
  position: relative;
  /* left: 40px; */
  font-size: 18px;
  font-weight: 150px;
  line-height: 1.2;
}

#more-info {
  padding: 10px;
}
